.heroimg{
    height: 35rem;
    width:100%;
    object-fit: cover;
}


.herotext{

    position: absolute;
    top: 23%;
    left: 45%;
    transform: translate(-30%, -40%);
}

.bannertext{
    font-size: 80px;
    object-fit: cover;
}
.banner-img{
    object-fit: cover;
    width:min-content;
}